.bookshelf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bookshelf__books {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 200px);
  background-color: #f7f7f7;
  padding: 0px 100px;
  height: 400px;
  align-items: center;
  flex-wrap: wrap;
}

.bookshelf__title {
  padding: 0px 100px;
}