.bookshelf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bookshelf__books {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 200px);
  background-color: #f7f7f7;
  padding: 0px 100px;
  min-height: 400px;
  align-items: center;
  flex-wrap: wrap;
  max-height: 800px;
  overflow-y: auto;
}

.bookshelf__title {
  padding: 0px 100px;
}